@tailwind base;
@tailwind components;
@tailwind utilities;


.solid-line{
    position: relative;
  }
  
  .solid-line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7rem;
    height: 0.3rem;
    background-color: #121212;
    margin-top: 1rem;
  }



  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }
  
  .fade-in-text {
    overflow: hidden;
    border-right: 2px solid #000; /* Adjust border properties as needed */
    white-space: nowrap; /* Prevent line breaks between letters */
    margin: 0;
    display: inline-block;
    animation: typing 7s steps(40, end), fadeIn 1s; /* Adjust duration and timing function as needed */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* About.module.css */

.projectContainer {
  transition: transform 0.3s ease-in-out;
}

.projectContainer:hover {
  transform: translateY(-10px); /* Adjust the translation value as needed */
}

.imageContainer {
  transition: transform 0.3s ease-in-out;
}

.imageContainer:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}

.overlay {
  background: rgba(0, 0, 0, 0.8); /* Adjust the background color and opacity as needed */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.projectContainer:hover .overlay {
  opacity: 1;
}

.overlayText {
  color: white;
  /* Add any other text styles as needed */
}


  